.details {
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: $promo-overlay;
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    font-family: 'Righteous', cursive;
    color: $basic-white;
    background-image: $main-gradient;
    border: 3px solid $basic-white;
    height: 60px;
    width: 60px;
    line-height: 45px;
    border-radius: 20%;
    text-align: center;
    font-size: 50px;
    transition: all 1s;
    @include adaptive-height(60, 30);
    @include adaptive-width(60, 30);
    @include adaptive-font(50, 20);
    @include adaptive-line-hight(45, 20);

    &:hover {
        background-image: $opposite-gradient;
    }


}