.header {
    position: fixed;
    width: 100%;
    background-image: transparent;
    height: 100px;
    z-index: 5;
    @include adaptive-height(100, 50);
    &__content {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-height(100, 50);
    }
    &__home {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
        li {
            font-size: 17px;
            color: $basic-white;
            text-transform: uppercase;
            transition: all 0.7s;
            @include adaptive-font(17, 10);
            @include text-shadow;
            &:hover {
                transform: scaleX(1.2);
            }
        }
    }
}
.button_small {
    display: none;
}
.button_menu {
    display: none;
}

@include small-screens {
    .button_first {
        display: none;
    }
    .button_small {
        display: block;
    }
}
@include extra-small-screens {
    .header__list {
        display: none;
    }
    .button_menu {
        display: block;
        margin: 0 auto;
    }
    
}

.colorful {
    background-image: $main-gradient;
}