.logo {
    width: 60px;
    height: 60px;
    animation-name: colors;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    img {
        width: 50%;
    }
    &_white-page {
        margin: 0 auto;
        @include box-shadow;
    }
}