$main-gradient: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
$opposite-gradient: linear-gradient(45deg,  rgba(106, 198, 240, 1) 0%,rgba(72, 44, 191, 1) 100%);
$purple-shadow: 0 0 50px -15px rgb(77, 67, 198);
$simple-shadow:  0 15px -5px rgba(0, 0, 0, 0.1);
$middle-bg: rgb(245, 246, 255);
$color-font: rgb(118, 142, 222);
$dark-color-font: rgb(74, 52, 194);
$promo-overlay: linear-gradient(45deg, rgba(72, 44, 191, 0.7) 0%, rgba(106, 198, 240, 0.7) 100%);
$basic-white: rgb(255, 255, 255);
$transparent-white: rgba(255,255,255, .7);
$very-transparent-white: rgba(255,255,255, .3);
$transparent-purple: rgba(118, 142, 222, .8);
$purple: rgb(77, 67, 198);
$cute-grey: rgb(135, 144, 175);
